.our-portfolio > .container {
  position: relative;
  width: 320px;
  height: 50vh;
  margin: 0px auto 0 auto;
  perspective: 5000px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 20s infinite forwards linear;
}

.carousel__face {
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  /* box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5); */
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .carousel__face {
    width: 300px;
    height: 187px;
  }
}

.span-3d {
  margin: auto;
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.carousel__face:nth-child(1) {
  background-image: url("../images/ebf1.jpg");
  transform: rotateY(0deg) translateZ(430px);
}
.carousel__face:nth-child(2) {
  background-image: url("../images/ebf2.jpg");
  transform: rotateY(40deg) translateZ(430px);
  background-position: 20% 20%;
}
.carousel__face:nth-child(3) {
  background-image: url("../images/ebf3.jpg");
  transform: rotateY(80deg) translateZ(430px);
  background-position: 20% 20%;
}
.carousel__face:nth-child(4) {
  background-image: url("../images/ebf4.jpg");
  transform: rotateY(120deg) translateZ(430px);
}
.carousel__face:nth-child(5) {
  background-image: url("../images/ebf5.jpg");
  transform: rotateY(160deg) translateZ(430px);
}
.carousel__face:nth-child(6) {
  background-image: url("../images/ebf6.jpg");
  transform: rotateY(200deg) translateZ(430px);
  background-position: 20% 20%;
}
.carousel__face:nth-child(7) {
  background-image: url("../images/ebf7.jpg");
  transform: rotateY(240deg) translateZ(430px);
  background-position: 20% 20%;
}
.carousel__face:nth-child(8) {
  background-image: url("../images/ebf8.jpg");
  transform: rotateY(280deg) translateZ(430px);
}
.carousel__face:nth-child(9) {
  background-image: url("../images/ebf9.jpg");
  transform: rotateY(320deg) translateZ(430px);
  background-position: 40% 40%;
}

@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
